/* Estilo para el hover de cada equipo */
.equipo1:hover {
    
    background-color: #fae105; /* Cambiar el color de fondo al pasar el mouse */
}

/* Estilo para el texto dentro del hover */
.equipo1:hover .nav-link {
    color: #333; /* Cambiar el color del texto al pasar el mouse */
}

/* Estilo para el ícono dentro del hover */
.equipo:hover .nav-link .nav-icon {
    color: #555; /* Cambiar el color del ícono al pasar el mouse */
}

/* Agregar radio de borde al hover */
.equipo:hover .nav-link .nav-icon,
.equipo:hover .nav-link p {
    border-radius: 10px; /* Agregar radio de borde al texto e ícono dentro del hover */
}

/* Definir colores para cada equipo */
.equipo1:hover {
    background-color: #fad816;
    border-radius: 10px;/* Color para el equipo 1 */
}

.equipo2:hover {
    background-color: #125c37;
    border-radius: 10px;/* Color para el equipo 2 */
}

.equipo3:hover {
    background-color: #949997; 
    border-radius: 10px;
    /* Color para el equipo 2 */
}

.equipo4:hover {
    background-color: #80472a;
    border-radius: 10px;/* Color para el equipo 2 */
}

.equipo5:hover {
    background-color: #632218;
    border-radius: 10px;/* Color para el equipo 2 */
}

.equipo6:hover {
    background-color: #144487;
    border-radius: 10px;/* Color para el equipo 2 */
}

.equipo7:hover {
    background-color: #db6318; 
    border-radius: 10px;/* Color para el equipo 2 */
}

.equipo8:hover {
    background-color: #82658f;
    border-radius: 10px;/* Color para el equipo 2 */
}


/* Estilo para el botón "Enviar Mensaje" */
.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Cambiar el color del botón al pasar el mouse */
.modal-footer .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Estilos para el contenido */
.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

/* Estilos para la barra de navegación */
.navbar {
  border-bottom: 4px solid #4CAF50; /* Cambiar el color de la línea de abajo */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
}